<div id="bodyContainer">
    <hr class="solid">
</div>
<div class="footerContainer">
    <hr class="solid">
    <div class="footerLinks">
        <div class="fLinkDiv"><button id="addBook" onclick="loadAdd()">Add Book</button></div>
        <div class="fLinkDiv"><button id="viewAll" onclick="loadAll()">View Books</button></div>
        <div class="fLinkDiv"><button id="viewReadlist" onclick="loadReadlist()">View Readlist</button></div>
        <div class="fLinkDiv"><button id="viewLoanedlist" onclick="loadLoaned()">View Loaned</button></div>
    </div>
</div>