<hr class="solid">
<div id="bodyContainer">
    <div class="recentContainer"> 
        <div id="book1">Book 1</div>
        <div id="book1">2</div>
        <div id="book1">3</div>
        <div id="book1">4</div>
    </div>
</div>