<div id="mainBody">
    <form>
        <input type="text" id="queryString" name="queryString" value="example">
        <input type="radio" id="queryType" name="queryType" value="isbn">
        <button name="data" type="button" onclick="getBookApi()">Click</button>
    </form>
</div>