<div class="pageContainer">
    <div id="bodyContainer">
        <hr class="solid">
    </div>
    </div>
</div>
<div class="footerContainer">
<hr class="solid">
<div class="footerLinks">
    <button id="addBook" onclick="loadAdd()">Add Book</button>
    <button id="viewAll" onclick="loadAll()">View Books</button>
    <button id="viewReadlist" onclick="loadReadlist()">View Readlist</button>
    <button id="viewLoanedlist" onclick="loadLoaned()">View Loaned</button>
</div>