<div id="bodyContainer">
    <form>
        <input type="text" id="queryString" name="queryString" placeholder="Input here">
        <input type="radio" id="queryType" name="queryType" value="isbn">
        <button type="submit" onclick="getBookApi(queryString.value, queryType.value)">Submit</button>
    </form>
</div>