<div></div>
<div><input type="image" src="/img/all_btn.png" alt="all" id="all" onclick="getAll()"></div>
<div><input type="image" src="/img/meat_btn.png" alt="meat" id="item" onclick="searchByItem('meat')"></div>
<div><input type="image" src="/img/produce_btn.png" alt="produce" id="item" onclick="searchByItem('produce')"></div>
<div><input type="image" src="/img/dairy_btn.png" alt="dairy" id="item" onclick="searchByItem('dairy')"></div>
<div><input type="image" src="/img/grain_btn.png" alt="grains" id="item" onclick="searchByItem('grains')"></div>
<div><input type="image" src="/img/other_btn.png" alt="other" id="item" onclick="searchByItem('other')"></div>
<div></div>