<div>
    <form>
        <input type="text" id="queryString" name="queryString" placeholder="Input here">
        <input type="radio" id="queryType" name="queryType" value="isbn">
        <input type="submit" value="Submit" onclick="getBookApi(this)">
    </form>
</div>