<div class="navContainer">
  <!-- Logo -->
  <div class="logoContainer">
    <img src="/img/liblogo2.png" alt="Logo">
  </div>
  <!-- Banner Logo -->
  <div class="bannerContainer">
    <img src="/img/namelogo.png" alt="NameBanner">
  </div>
  <div class="searchContainer"> 
      <!-- Search Bar -->
      <form class="example" action="action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
  </div>
</div>