<div class="navContainer">
    <!-- Logo -->
    <div>
        <img src="/img/transparent_logo.png" alt="Logo">
    </div>
    <div><!--middle of top banner--></div>
    <div class="navOptions">
        <!-- Search Bard -->
        <div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" id="author" checked> Author
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="title"> Title
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="keyword"> Keyword
            </label>
          </div>
    </div>
</div>