<div class="navContainer">
    <!-- Logo -->
    <div>
        <img src="/img/transparent_logo.png" alt="Logo">
    </div>
    <div class="navOptions">
        <div></div>
        <!-- + Button -->
        <div class="add">
            <input type="image" src="/img/plus.png" alt="plus" onclick="addItemForm()" >
        </div>
    </div>
    <div></div>
</div>