body{
  background-color: #2B3E50;
}

.navContainer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  padding-top: 16px;
}

.logoContainer{
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
}

.bannerContainer{
  display: flex;
  justify-content: center;
}

.searchContainer{
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #DF691A;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #DF691A;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.searchButtons{

}
.bodyContainer{

}