body{
  background-color: #2B3E50;
  margin: 0;
}

.navContainer{
  display: grid;
  grid-template-columns: 1fr 2fr .2fr .8fr;
  grid-template-rows: auto;
  padding-top: 16px;
}

.logoContainer{
  display: flex;
  justify-content: flex-start;
  padding-left: 16px;
}

.logoContainer img{
  width: 140px;
  height: 140px;
}

.bannerContainer{
  display: flex;
  justify-content: center;
}
.addContainer{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
}
.addContainer div {
  height: 90px;
  background-color: #DF691A;
  color: white;
}

.searchParentContainer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding-right: 16px;
}
.searchContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
}
.searchBtnContainer{
  display: flex;
  justify-content: flex-end;
}

* {
  box-sizing: border-box;
}

.search{
  width: 100%;
}
/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  height: 45px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: white;
  outline: none;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  height: 45px;
  padding: 10px;
  background: #DF691A;
  color: white;
  font-size: 17px;
  border: 1px solid rgb(194, 91, 23);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  outline: none;
}

form.search button:hover {
  background: rgb(194, 91, 23);
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}

.searchButtons{
  float: right;
  width: 33.333333%;
  height: 45px;
  padding: 10px;
  background: #DF691A;
  color: white;
  font-size: 14px;
  border: .5px solid rgb(194, 91, 23);
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  outline: none;
}
hr.solid {
  border-top: 3px solid grey;
}
.recentContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding-left: 100px;
  padding-right: 100px;
}
.recBook {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}