<!DOCTYPE html>
<html>
<head>
  <title>MyLibrary</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" /> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Vollkorn&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <script src ="/scripts/clientside.js"></script>
  <script src="https://kit.fontawesome.com/4fa03c23a9.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body onload="loadDefaults()">
<div class="pageContainer"></div>
  <% include ../partials/mainOptions.ejs %>
</div>
</body>
</html>
