<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navBar.ejs %>
  <div>
    <% include ../partials/mainOptions.ejs %>
  </div>
</body>
</html>
