<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/navBar.ejs %>
  <div class="bodyContainer">
    <div class="bodyOptions">
      <% include ../partials/mainOptions.ejs %>
    </div>
  </div>
</body>
</html>
